{% extends 'base.html' %}

{% block content %}
{{ u.un }}
<form method="POST" enctype = "multipart/form-data">
    {% csrf_token %}
    <div class="container mt-5 mb-5" style="width: 70%">
        <h1 class='jm'>MODIFY</h1>
       <div class = "mt-5 text-center">
            <img class = "rounded-circle" src = "{{ user.getpic }}" width = "200px">
        </div>
         <div class="input-group input-group-lg mt-5">
            <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
            <input type="text" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value = "{{ u.un }}" disabled>
        </div>
        <div class="input-group input-group-lg mt-4">
            <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
            <input type="password" name="password" class="form-control" value = "{{ u.pw }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg mt-4">
            <span class="input-group-text" id="inputGroup-sizing-lg">Comment</span>
            <textarea class = "form-control" style = "height: 150px" name = "comment">{{ u.com }}</textarea>
        </div>
        <div class="input-group input-group-lg mt-4">
            <input type="file" name="pic" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value = "{{ u.pic }}">
        </div>
        
        <div class="mt-4 text-end">
            <button class="btn btn-outline-primary">MODIFY</button>
        </div>
    </div>
</form>

{% endblock %}